.content-meta {
  margin-top: 10;
  color: var(--gray);

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4;

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 2px;

      &::after {
        content: ",";
      }
    }
  }
}
